*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build/
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/build-logic/structure/build/
/core-datastore/build/
/app/release/
/app/alpha/
/.kotlin/
