name: Java CI with Gradle

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**.md'
      - '**.yml'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**.md'
    types: [opened, reopened]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
      
    - name: Test Droid-ify
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: test
